[Desktop Entry]
Version=1.0
Type=Application
Name=Brainbox Dashboard
Comment=Dashboard for the Brainbox
Exec=xterm -fullscreen -e "source ~/venvs/bbd/bin/activate;bbd"
Icon=utilities-system-monitor
Terminal=false
Categories=Audio;AudioVideo;
Keywords=Brainbox;Dashboard;Audio;Sound;

