[Desktop Entry]
Version=1.0
Type=Application
Name=Brainbox Dashboard
Comment=Dashboard for the Brainbox
Exec=xfce4-terminal --fullscreen --hide-menubar --hide-borders --hide-toolbar --hide-scrollbar -e "/home/valentin/venvs/bbd/bin/bbd"
Icon=utilities-system-monitor
Terminal=false
Categories=Audio;AudioVideo;
Keywords=Brainbox;Dashboard;Audio;Sound;

